- author = article_content.author
- post = article_content
%article#post-1
  %header.entry-header
    %h1.headline= post.title
    .entry-meta
      %span.sep Posted on
      %a{:href => category_path(post.category), :rel => "bookmark", :title => "2:56 pm"}
        %time.entry-date{:datetime => "2013-01-21T14:56:01+00:00"} January 21, 2013
      %span.by-author
        %span.sep by
        %span.author.vcard
          %a.url.fn.n{:href => profile_path(author), :rel => "author", :title => "View all posts by #{author.name}"}= author.name
    / .entry-meta
    / %img{:src => "img/facebook.png"}
    %fb:like{:send => "true", :show_faces => "true", :width => "450"}
    / %iframe{:frameborder => "0", :scrolling => "no", :src => "https://www.facebook.com/plugins/like.php?href=#{request_url}", :style => "border:none; width:450px; height:80px"}
  / .entry-header
  .entry-content
    = post.content.html_safe
  
  %footer.entry-meta
    This entry was posted in
    %a{:href => category_path(post.category), :rel => "category", :title => "View all posts in #{post.category.name}"}= post.category.name
    by
    = succeed "." do
      %a{:href => profile_path(author)}= author.name
    %hr/
    .article-author-container
      %img.img-profile-avatar.img-polaroid{:alt => author.name, :src => author.avatar}
      .text
        .name
          %a.parsed{:href => profile_path(author), :rel => "author"}
            %h3= author.name
        %p
          %strong
          = author.biography.html_safe
        %i
          %a{:href => "http://twitter.com/#{author.twitter}"} @#{author.twitter}
        &nbsp;
        %i
          %a{:href => author.facebook_url} #{author.facebook} on Facebook
        &nbsp;
        %i
          %a{:href => author.linkedin_url} #{author.linkedin} on Linkedin
    .clearfix
    %hr/
  = render :partial => "posts/article_related_posts" 
  / .entry-met
  = render :partial => "posts/article_tags"
