!!!
%html
  %head
    %meta{:content => "width=980, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Homepage - We love startup"
      %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}", 'data-controller' => "#{controller_name}", 'data-action' => "#{action_name}", :style => 'padding-top: 0px'}
    / nav bar here
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          / %a.brand{:href => root_path, :style => 'padding: 0px'}
          /   %img{:src => image_path("logo.png"), :style => 'width: 120px'}
          %ul.nav
            / %li.divider-vertical
            %li= link_to "Home", root_path
            = render :partial => 'categories/category_button', :collection => @main_categories
          = form_tag posts_path, :method => :get, :class => "navbar-search pull-right" do
            %input.input-medium.search-query{:type => "text", :placeholder => "Search...", :name => "query"}
          / %form.navbar-search.pull-right
    .site-container
      #main.container
        / header
        .row.header
          .span12{:style => "text-align: center"}
            %h1= link_to image_tag("logo3.png"), root_path

        .row
          .span8.offset2
            %hr/

        = yield
        .separator &nbsp;
    %footer.footer
      .container
        %p
          Designed and built with love by
          = succeed "." do
            %a{:href => "http://mobifood.vn", :target => "_blank"} @Mobifood
        %ul.footer-links
          %li
            %a{:href => "#"} Blog
          %li.muted 
          %li
            %a{:href => "#"} Contact
          %li.muted ·
          %li
            %a{:href => "#"} About
