!!!
%html
  %head
    %meta{:content => "width=980, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Homepage - We love startup"
      %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}", 'data-controller' => "#{controller_name}", 'data-action' => "#{action_name}", :style => 'padding-top: 0px'}
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{:href => root_path, :style => 'padding: 0px'}
            %img{:src => image_path("logo.png"), :style => 'width: 120px'}
          %ul.nav
            %li.divider-vertical
            = render :partial => 'categories/category_button', :collection => @main_categories
          = form_tag posts_path, :method => :get, :class => "navbar-search pull-right" do
            %input.input-medium.search-query{:type => "text", :placeholder => "Search...", :name => "query"}
          / %form.navbar-search.pull-right
    #main.container
      = render_breadcrumbs

      #cat-content.row{:style => "margin-top: 10px;"}
      = yield

